<div id="footer">
            <div class="container">
                <div class="text-footer">
                    <p>HOAT HINH 3D</p>
                    <i class="ti-facebook"></i>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
</div>