
<link rel="stylesheet" href="http://localhost:3000/css/firmhot.css">
<div id="login">

  <form id="form-login">
      <a href="/"><i class="ti-home"></i></a>
      <input type="radio" id="login_swich" name="swich" checked />
      <input type="radio" id="signup_swich" name="swich" />
      <input type="radio" id="forgot_swich" name="swich" />
      <span class="label_wrap">
        <label for="login_swich">Log in</label>
        <label for="signup_swich">Sign up</label>
        <label for="forgot_swich">Forgot Password</label>
      </span>
      <input placeholder="Username" name="userName"/>
      <input placeholder="Password" name="passWord" type="password" />
      <input placeholder="Confirm password" type="password" id="confirm" />
      <input placeholder="Recovery email" type="password" id="forgot" />
      <div class="form_btns">
        <a><label for="forgot_swich">Forgot password?</label></a>
        <button id="login_btn">Log in</button>
        <a><label for="signup_swich">Create account</label></a>
      </div>
      <div class="form_btns">
        <button id="signup_btn">Sign up</button>
        <a><label for="login_swich">Login</label></a>
      </div>
      <div class="form_btns">
        <button id="forgot_btn">Reset Password</button>
      </div>
    </form>
</div>

<script>
  const singnBtn = document.getElementById('signup_btn')
  const loginBtn = document.getElementById('login_btn')
  const form = document.getElementById('form-login')

  loginBtn.addEventListener('click',function(){
            form.method = 'Get';
            form.action = '/success'
        })

  singnBtn.addEventListener('click',function(){
            form.method = 'Post'
            form.action = '/store'
        })
</script>